:root {
  --main-background-color: #ffffff;
  --secondery-background-color: #2f303a;
  --hover-color: #2196f3;
  --paragraphs-color: #212121;
  --text-color: #757575;
  --header-logo-color: #000000;
  --team-background-color: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --portfolio-button-background-color: #f5f4fa;
}
/* Reset */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Прихований заголовок */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: 'roboto', sans-serif;
  background-color: var(--main-background-color);
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}
.logo {
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--hover-color);
}

.header-logo {
  color: var(--header-logo-color);
}

.nav-list {
  display: flex;
  text-align: center;
  gap: 50px;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--paragraphs-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--hover-color);
}

.header-contact {
  display: flex;
  text-align: center;
  margin-left: auto;
  gap: 50px;
}

.current {
  color: var(--hover-color);
}

.current::after {
  content: '';
  position: absolute;
  top: 78px;
  left: 50%;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  transform: translateX(-50%);

  background-color: var(--hover-color);
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}

.header-flex {
  display: flex;
  align-items: center;
}

.header-discription {
  margin-right: 93px;
}

.header-icon {
  fill: currentColor;
}

/* Hero */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--secondery-background-color);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);
}

.hero-title {
  margin-bottom: 30px;
  width: 696px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-background-color);
}

.hero-btn {
  border-radius: 4px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
  border-style: none;
  cursor: pointer;

  color: var(--main-background-color);
  background-color: var(--hover-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* Benefits */
.benefits-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--paragraphs-color);
}

.benefits-list {
  display: flex;
}

.benefits-item {
  flex-basis: calc((100%-3 * 30px) / 4);
}
.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-div {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--portfolio-button-background-color);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  margin-right: 0;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
/* Work */
.work {
  padding-top: 0;
}

.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--paragraphs-color);
}

.work-list {
  display: flex;
}

.work-item {
  position: relative;

  flex-basis: calc((100%-2 * 30px) / 3);
}
.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(47, 48, 58, 0.8);
}

.work-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-background-color);
}

/* Team */
.team {
  background-color: var(--team-background-color);
}

.team-list {
  display: flex;
}

.team-item {
  flex-basis: calc((100%-3 * 30px) / 4);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-background-color);
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--paragraphs-color);
}

.text-div {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
}

.text-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--paragraphs-color);
}

.team-text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #afb1b8;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-background-color);

  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--hover-color);
  color: var(--main-background-color);
}

.icon-social {
  fill: currentColor;
}

/* Clients */
.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--paragraphs-color);
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 4px;

  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--hover-color);
}

.icon-clients {
  fill: currentColor;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondery-background-color);
}

.footer-div {
  display: flex;
  align-items: baseline;
}

.address-div {
  margin-right: 70px;
}

.footer-logo {
  color: var(--main-background-color);
}

.description-logo {
  margin-bottom: 20px;
}

.footer-list {
  font-style: normal;
}

.footer-item {
  width: 231px;
}

.google-map {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: var(--main-background-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.google-map:hover,
.google-map:focus {
  color: var(--hover-color);
}

.map {
  margin-bottom: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: var(--footer-contact-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--hover-color);
}

.new-bg-color {
  background-color: rgba(255, 255, 255, 0.1);
}
.new-fill {
  fill: var(--main-background-color);
}

.social-div {
  margin-right: 93px;
}

.social-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-background-color);
}

/* Footer form */
.footer-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.footer-form-text {
  margin-bottom: 20px;
  width: 207px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-background-color);
}

.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 28px;
  width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-background-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #188ce8;
}

/* Portfolio */
.portfolio-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

/* Portfolio-btn */
.portfolio-btn {
  border-radius: 4px;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-style: none;
  cursor: pointer;

  color: var(--paragraphs-color);
  background-color: var(--portfolio-button-background-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--main-background-color);
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Filtr-title */
.portfolio-div {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.filtr-list {
  display: flex;
  flex-wrap: wrap;
}

.filter-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-link:hover {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filtr-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.filtr-item:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

.filtr-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--paragraphs-color);
}

.filtr-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

.filtr-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;

  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.text-overlay {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--main-background-color);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal.modal-animation {
  animation: scale-up-ver-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 30px;
  height: 30px;
  cursor: pointer;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--hover-color);
}

.modal-text {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--paragraphs-color);
}

.modal-wrapper {
  position: relative;
}

.modal-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: var(--text-color);
}

.modal-input {
  display: block;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  margin-bottom: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--hover-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--hover-color);
}

.textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.textarea::placeholder {
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  user-select: none;

  color: var(--text-color);
}

.checkbox-link {
  text-underline-offset: 3px;
  color: var(--hover-color);
}

.checkbox-icon {
  margin-right: 8px;
}

.uncheck {
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checked {
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon .uncheck {
  opacity: 0;
}

.checkbox:checked + .checkbox-icon .checked {
  opacity: 1;
}

.modal-submit-btn {
  padding: 10px 52px;
  margin: 0 auto;
  display: block;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-background-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #188ce8;
}

/* Keyframes */
@keyframes scale-up-ver-center {
  0% {
    transform: scaleY(0.4) translate(-50%, -50%);
  }

  100% {
    transform: scaleY(1) translate(-50%, -50%);
  }
}
